.outer-container {
  @include outer-container;
}
.page-title {
  @include span-columns(12);
  margin: 50px 0 20px 0;
}
.sub-title {
  margin: 20px 10px;
}
.form {
  @include span-columns(6);
}
.post {
  @include span-columns(8);
  @include shift(2);
  text-align: center;
  margin-top: 50px;
  p {
    margin: 30px 0;
    font-size: $base-font-size * 1.1;
    .post-button {
      margin: 20px 0;
    }
  }
}
.post-button {
  @include span-columns(3);
  margin: 60px 20px 20px 0;
}
.images {
  @include outer-container;
  .post-image {
    @include span-columns(6);
    @include omega(2n);
    margin-top: 40px;
  }
}
.list-grid {
  li {
    @include span-columns(3);
    @include omega(4n);

    a {
      display: block;
      color: white;
      text-align: center;
      vertical-align: center;
      margin-top: 15px;
      padding: 40px 5px;
      border-radius: 25%;
      background-color: $base-button-color;

      &:hover {
        @include animation-timing-function(ease);
        background-color: $hover-link-color;
      }
    }
  }
}
