.header {
  @include outer-container;
}

.icons {
  position: fixed;
  font-size: 5em;
}

.logo {
  @include span-columns(8);
  .logo-image {
    @include fill-parent();
    height: 90px;
    background-image: image-url("garthslist_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.tagline {
  @include span-columns(6 of 8);
  font-size: 1.5em;
  margin-top: -30px;
}

.nav {
  @include span-columns(4);
  margin-top: 5px;
  text-align: right;
  .nav-col {
    @include span-columns(2 of 4);
    margin-top: 5px;
  }
}

.footer {
  text-align: center;
  margin-top: 100px;
  .rails {
    font-size: 8em;
    color: darkred;
  }
}
