.header {
  @include outer-container;
}
.logo {
  @include span-columns(8);
  .logo-image {
    margin-top: 10px;
    @include fill-parent();
    height: 90px;
    background-image: url("garthslist_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.tagline {
  @include  span-columns(6 of 8);
  font-size: 1.5em;
  margin-top: -30px;
}
.nav {
  @include span-columns(4);
  margin-top: 15px;
  text-align: right;
  .nav-col {
    @include span-columns(2 of 4);
    margin-top: 10px;
  }
}
