<section class="outer-container">
  <h2 class="page-title">Browse by category in <%= @region.name.capitalize %></h2>
  <div class="list-grid">
    <ul>
      <%= render @categories %>
    </ul>
  </div>
</section>
